/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, #f0f4f8, #d9e2ec);
    margin: 0;
    padding: 0;
    color: #333;
}

h2, h3 {
    color: #2c3e50;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 20px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

input[type="text"],
input[type="password"],
input[type="file"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin: 8px;
}

button:hover {
    background-color: #1379bc;
}

button#getReport {
    margin-left: 120px;
}

#dashboardSection, #registerSection, #loginSection {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 20px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.extra-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.extra-buttons button {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition:  0.3s ease;
    margin-top: 50px;
}


/* Dashboard Styles */
.user-info {
    background-color: #ecf0f1;
    padding: 15px;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.actions {
    text-align: center;
    margin: 20px 0;
}

#fileList {
    margin: 30px auto;
    max-width: 500px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

ul#files {
    list-style-type: none;
    padding-left: 0;
}

ul#files li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 15px;
}

ul#files li:last-child {
    border-bottom: none;
}

.meta-button {
    margin: 10px auto;
    display: block;
    background: #f39c12;
    font-weight: bold;
}

.meta-button:hover {
    background: #e67e22;
}
